/*selector universal*/
*{
    margin: 0;
    padding: 0;
    background: azure;
}



/*selector Hijo*/
h3>span{
    color: blue;
    font-family: sans-serif;
}


/*selector de clase*/
.principal{
    width: 250px;
    height: 300px;
    margin: 130px auto;
}


/*selector de etiqueta*/
h5{
    color: red;
    margin: 10px;
    text-align: center;
}

label{
    margin 10px;
}
input{
    width: 230px;
    margin: 10px;
    height: 20px;
}


/*selector id*/
#bienvenido{
    color: black;
    text-align: center;
    margin: 10px;
}


/*selector hermano adyacente*/
h6+h3{
    text-align: center;
}

/*selector atributo*/
a[href]{
    color: coral;
}


/*selector de atributo con valor exacto*/
a[href="registro"]{
    float: right;
    text-decoration: none;
}


/*selector de atributo cocomienza con*/
a[href^="http://"]{
    text-decoration: none;
}


/*selector de atributo termina con*/
a[href$=".com"]{
    background: aqua;
}

a[href$=".pe"]{
    background: blue;
}

/*selector de atributo separados por espacio*/
p[title~="text"]{
    text-align: center;
}

/*selector de atributo separados por guion*/
p[title|="text"]{
    text-align: center;
}
/*selector de atributo contiene*/
p[title*="text"]{
    color: blue;
    font-family: monospace;
}

/*link*/
a:link{
    color: red;
}

a:visited{
  color:blue;
}

/*hover*/
input[type="text"]:hover{
    background: black;
}

input[type="password"]:hover{
    background: black;
}


/*focus*/
input[type="text"]:focus{
    background: black;
    color: white;
    height: 25px;
}

input[type="password"]:focus{
    background: black;
    color: white;
    height: 25px;
}
