/*selector universal*/
*{
    margin: 0;
    padding: 0;
    background: azure;
}



/*selector Hijo*/
h3>span{
    color: blue;
    font-family: sans-serif;
}


/*selector de clase*/
.principal{
    width: 250px;
    height: 300px;
    margin: 130px auto;
}


/*selector de etiqueta*/
h5{
    color: red;
    margin: 10px;
    text-align: center;
}

label{
    margin 10px;
}
input{
    width: 230px;
    margin: 10px;
    height: 20px;
}


/*selector id*/
#bienvenido{
    color: black;
    text-align: center;
    margin: 10px;
}

/*selector hermano adyacente*/
h6+h3{
    text-align: center;
}

/*selector atributo*/
a[href]{
    color: coral;
}
