/*selector de atributo contiene*/
p[title*="texto"]{
    color: blue;
}


/*selector de atributo comienza con*/
a[href^="http://"]{
    text-decoration: none;
    color: red;
}

/*selector de atributo separado por epacio*/
p[type~="numero"]{
    color: aqua;
}
